.giphy-img {
    max-width:100%;
    max-height:80%;
    cursor: pointer;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}

.btn {
    margin-bottom: 70px;
}

.img-container {
    max-height: 200px;
}

.text-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #f5f6ff;
    border-top: 1px solid #5e88fc;
}